@import '../abstracts/variables';
@import '../abstracts/fonts';

.footer {
  display: flex;
  justify-content: center;
}

.footer__wrapper {
  position: relative;
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 50px;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 10px;
    background: $additional-color;
    z-index: -1;
  }
}

.footer__content-wrapper {
  width: 715px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rss,
.year,
.github {
  background: #FFF;
  padding: 0 10px;
}

.footer__link {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $font-color-base;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover {
    opacity: 1;

    &:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

  }
}
