@import '../abstracts/variables';
@import '../abstracts/fonts';

.header__wrapper {
  position: relative;
  width: 100%;
  max-width: 1920px;
  display: flex;
  margin: 0 auto;
  padding-top: 20px;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 25px;
    background: $additional-color;
    z-index: -1;
  }
}

.header__logo-wrapper {
  width: 384px;
  padding-left: 170px;
  margin: 0 auto;
}

.header__logo {
  width: 100%;
}

.cart {
  display: flex;
  width: 140px;
  align-items: center;
  margin-right: 60px;
  padding-bottom: 40px;
}

.sum-block {
  max-width: 160px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  font: $font-header-price;
  padding-top: 10px;
}

.sum-block__sum {
  flex-grow: 1;
  text-align: end;
  margin-right: 10px;
}

.cart-button {
  width: 50px;
  height: 50px;
  margin-left: 12px;
}
