@import './card';

.catalog {
  max-width: 1450px;
  width: 76%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(532px, min-content);
  grid-auto-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(532px, min-content);
  gap: 80px 30px;
}
