@font-face {
  font-family: 'PP Fragment Sans';
  font-weight: 400; // regular
  src: url('assets/fonts/PPFragment-SansRegular.otf');
}

@font-face {
  font-family: 'PP Fragment Serif';
  font-weight: 400; // regular
  src: url('assets/fonts/PPFragment-TextRegular.otf');
}

@font-face {
  font-family: 'PP Radio Grotesk';
  font-weight: 400; // regular
  src: url('assets/fonts/PPRadioGrotesk-Regular.otf');
}

@font-face {
  font-family: 'PP Radio Grotesk';
  font-weight: 200; // ultralight
  src: url('assets/fonts/PPRadioGrotesk-Ultralight.otf');
}
