$rem-font-size: 10px;

$font-color-base: #232323;
$font-color-sec: #7B7B7B;
$additional-color: #BEBEBE;
$additional-color-bright: #F0F0F0;
$accent-color: #B6827E;
$warning-color: #955652;
$button-dark-hover-color: rgba(35, 35, 35, 0.7);

$font-base: 400 20px/24px 'PP Radio Grotesk', sans-serif;
$font-buttons: 400 20px/24px 'PP Radio Grotesk', sans-serif;
$font-filters: 400 18px/22px 'PP Radio Grotesk', sans-serif;
$font-inputs: 400 20px/24px 'PP Radio Grotesk', sans-serif;
$font-footer: 200 20px/24px 'PP Radio Grotesk', sans-serif;
$font-header-bag: 400 18px/22px 'PP Radio Grotesk', sans-serif;
$font-header-price: 400 18px/27px 'PP Fragment', sans-serif;
$font-items-found: 400 24px/29px 'PP Radio Grotesk', sans-serif;
$font-item-card: 400 20px/24px 'PP Radio Grotesk', sans-serif;
$font-item-card-brand: 400 20px/30px 'PP Fragment', sans-serif;
$font-item-card-volume: 400 14px/17px 'PP Radio Grotesk', sans-serif;
$font-form-group-title: 400 24px/35px 'PP Fragment', sans-serif;
$font-form-group-label: 200 20px/24px 'PP Radio Grotesk', sans-serif;
$font-form-group-input: 200 20px/22px 'PP Radio Grotesk', sans-serif;
$font-product-title: 400 24px/35px 'PP Fragment', sans-serif;
$font-product-text: 200 20px/24px 'PP Radio Grotesk', sans-serif;
$font-category: 200 18px/22px 'PP Radio Grotesk', sans-serif;
$font-breadcrumbs: 400 14px/17px 'PP Radio Grotesk', sans-serif;
