.main {
  max-width: 1620px;
  margin: 0 auto;
}

.navigation__link {
  display: flex;
  gap: 12px;
  font: $font-breadcrumbs;
  color: $font-color-sec;
}

.link__breadcrumbs {
  color: $font-color-sec;
  text-decoration: none;
  cursor: auto;
}

.link__breadcrumbs:first-child {
  cursor: pointer;
}

.product__detail {
  display: flex;
  gap: 58px;
  margin-top: 34px;
}

.product__gallery {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  width: 57%;
}

.slides {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.slides__photo {
  max-width: 160px;
  max-height: 160px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.grand-photo__active {
  max-width: 730px;
  max-height: 730px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product__description {
  width: 39%;
}

.item-header {
  margin-bottom: 41px;
}

.product__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.product__title {
  font: $font-product-title;
  text-transform: uppercase;

  color: $font-color-base;
}

.product__brand {
  margin: 0 0 10px;
}

.product__name {
  margin: 0;
}

.product__details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.product__price {
  font: $font-items-found;
  color: #000000;
  margin: 0 0 10px;
}

.product__volume {
  font: $font-product-text;
  color: $font-color-sec;
  margin: 0;
}

.product__category {
  display: flex;
  margin-bottom: 10px;
}

.category__option {
  font: $font-category;
  color: $additional-color;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  padding: 9px 4px 9px 5px;
  border: 1px solid $additional-color;
}

.category__option_active {
  color: $font-color-base;
  border: 1px solid $font-color-base;
}

.product__stock {
  font: $font-product-text;

  color: $font-color-sec;
  margin: 0;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.button {
  font: $font-buttons;
  color: $font-color-base;

  max-width: 310px;
  // width: 100%;
  min-height: 46px;
  left: calc(50% - 310px/2 + 355px);
  top: calc(50% - 46px/2 - 49px);

  background: #ffffff;
  border: 1px solid $font-color-base;
  cursor: pointer;
}

.button__dark {
  color: $additional-color-bright;
  background: $font-color-base;
}

.about__title {
  font: $font-items-found;

  color: #000000;
  border-top: 1px solid $additional-color;
  border-bottom: 1px solid $additional-color;
  margin: 0 0 30px;
  padding: 10px 0;
}

.about__text {
  font: $font-product-text;

  color: #000000;
  margin: 0;
}

.about__text+.about__text {
  margin-top: 15px;
}
